* {
  box-sizing: border-box;
}

ul,
nav,
div,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ecf3ff;
}

// APP
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// http://paletton.com/#uid=53I0u0ksIM7hsRFneO-GJJAHdrY

// variables for colors
$text-primary: #093a94;
$bg-light: #c7dbff;
$text-light: #ecf3ff;
$bg-primary: #093a94;
$bg-primary-lighter: #0d52d0;
$bg-primary-base: #2966d7;
$bg-secondary: #4c80de;
$bg-light: #ecf3ff;

$text-warning: red;

$font-primary: "Noto Sans", sans-serif;
$font-nav: Arial, Helvetica, sans-serif;

.text-primary {
  color: $text-primary;
}

.font-primary {
  font-family: $font-primary;
}

// *****************************
// HEADER (NAV)
// *****************************
.nav {
  font-size: 21px;
  text-decoration: none;
  font-family: $font-nav;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-light;
  min-width: 44px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: greenyellow;
}

.nav,
.pad {
  margin: 5px;
}
.pad-s {
  margin: 2px;
}
.nav.link:hover {
  color: #ffe574;
}
.nav-center {
}
.header-container {
  background-color: $bg-primary;
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 100%;
}
.header-bounds {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-flow: wrap;
  width: 100%;
  @media (min-width: 900px) {
    max-width: 900px;
  }
}

// MAIN NAV
.header__logo {
  margin: 5px 5px 0 5px;
  align-self: center;
  padding-top: 4px;
}
.book-logo {
  margin-right: 8px;
}
.logo-text {
  vertical-align: text-bottom;
}

#header__logo__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $font-nav;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffd41a;
  font-size: 32px;
}
.header__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
.header__main__primary-nav {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  // Once screen is wide enough,
  // keeps primary nav on one line.
  @media (min-width: 688px) {
    min-width: 570px;
    padding-left: 54px;
  }
}
.header__main__primary-nav > div:only-child {
  margin-left: auto;
}

.nav__account,
.nav__icons {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
}
.nav-welcome-msg {
  margin-right: 28px;
  text-align: center;
}
.nav__icons {
  @media (min-width: 1100px) {
    // Once the header is wide enough,
    // the space to the right is no
    // longer needed.
    // (Maintains min 44px clickable area)
    margin-right: -10px;
  }
}

// SECONDARY NAV
.nav__pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 5px;
  margin-bottom: 5px;
  list-style: none;

  // Once screen is wide enough,
  // keeps primary nav on one line.
  @media (min-width: 410px) {
    min-width: 402px;
  }
  @media (min-width: 688px) {
    // needs space between logo and nav
    min-width: 445px;
    padding-left: 54px;
  }
}

// *****************************
// BOOK (and USER)
// *****************************
.link-wrapper {
  box-sizing: border-box;
  width: 100%;
  @media (min-width: 1100px) {
    width: 428px;
  }
}
.link-no-decoration {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.book,
.user {
  box-sizing: border-box;
  background-color: white;
  font-family: $font-primary;
  color: $text-primary;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  padding: 5px 16px;
  border-radius: 5px;
  margin: 5px;

  transition: background-color 0.3s ease-in-out;

  @media (min-width: 1100px) {
    max-width: 100%;
  }
}
.book:hover,
.user:hover {
  background-color: #ffe574;
}

.book__info,
.user__info {
  display: flex;
  flex-direction: column;
}
// BOOK ONLY
.book__requests {
  display: flex;
  flex-direction: start;
}
.book__requests__info {
  display: flex;
  flex-direction: column;
}

.book__requests__usernames__name {
  font-size: 0.5rem;
}

.book__info__title {
  font-size: larger;
}

// *****************************
// BOOK DETAILS PAGE
// *****************************
.book-details {
  display: grid;
  grid-template-columns: min-content auto;
  grid-column-gap: 10px;
  margin-bottom: 16px;
  font-family: $font-primary;
  color: $text-primary;
}
.book-details__name {
  font-weight: bold;
}
.book-details__value {
  font-weight: bold;
}

// *****************************
// FORMS
// *****************************
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input {
  width: 100%;
  height: 32px;
  margin: 4px 0;
}
input[type="text"],
textarea[type="text"] {
  font-size: 18px;
  font-family: $font-primary;
}
label {
  margin: 4px 0;
}

// ERRORS
.error {
  color: $text-warning;
  font-family: $font-primary;
}
h2.error__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 5px;
}
.error__msg {
  font-size: 16px;
}
.no-bull {
  list-style: none;
}
// *****************************
// PAGE (styles used on multiple pages)
// *****************************

.page-bounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  @media (min-width: 500px) {
    max-width: 500px;
  }
  @media (min-width: 1100px) {
    max-width: 1000px;
  }
}
.page-header {
  font-weight: bold;
  font-family: $font-primary;
  margin-bottom: 16px;
  color: $text-primary;
}

.page-header > h1 {
  font-size: 48px;
  text-align: center;
  margin: 5px;
}
.page-header > h2 {
  font-size: 30px;
  text-align: center;
  margin: 5px;
}
.page-header.same-line {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}
.page-main {
  width: 100%;
  margin-bottom: 16px;

  // used by profile page
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-text__jumbo {
  font-size: 70px;
  color: $text-primary;
  font-family: $font-primary;
}
.page-text__large {
  font-size: 24px;
  color: $text-primary;
  font-family: $font-primary;
}
.page-text__normal {
  font-size: 16px;
  color: $text-primary;
  font-family: $font-primary;
}
.page-main--two-columns {
  // single column
  display: flex;
  flex-direction: column;
  @media (min-width: 1100px) {
    // double column
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.page-main--form {
  width: 100%;
  @media (min-width: 1100px) {
    width: 514px;
  }
}
.page-main-border--top {
  border-top: 3px groove $bg-secondary;
  margin-top: 4px;
  padding-top: 10px;
}
.width-100 {
  width: 100%;
}
.wrapper__100 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// *****************************
// TCS (TRADE CARD STYLE)
// *****************************
.tcs-container {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}
.tcs__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $text-primary;
  font-weight: bold;
  margin-bottom: 4px;
}
.tcs__header__img {
  font-size: 36px;
  margin-right: 4px;
}
.tcs__header__txt {
  color: $text-primary;
  font-family: $font-primary;
}
.tcs__main {
  background-color: $bg-secondary;
  min-height: 86.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}
.tcs__main--right {
  margin-left: 40px;
}
.tcs__main--center {
  margin-left: 20px;
  margin-right: 20px;
}
.tcs__main__content {
  display: flex;
  flex-direction: column;
  @media (min-width: 1100px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.tcs__main__content > div {
  //TODO Is this still needed?
  @media (min-width: 1100px) {
    width: 100%;
  }
}
.tcs__main__content__column {
}
.tcs__main__messages {
  font-family: $font-primary;
  color: $text-light;
  text-align: center;
}

.tcs-text {
  font-family: $font-primary;
  color: $text-light;
  text-align: center;
  font-weight: bold;
}
h4.tcs-text {
  font-family: $font-primary;
  color: $text-light;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
}

.tcs-border--top {
  border-top: 3px groove $text-light;
  margin-top: 4px;
  padding-top: 10px;
}

// BUTTONS
.button {
  font-family: $font-primary;
  width: 100%;
  padding: 12px 12px;
  text-align: center;
  background-image: linear-gradient(to top, $bg-primary, $bg-primary-base);
  color: $text-light;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
  @media (min-width: 1100px) {
    width: 428px;
  }
}
.button:hover {
  background-image: linear-gradient(to top, $bg-primary, $bg-primary-lighter);
}
.tcs__main__buttons,
.page__main__buttons {
  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-around;
  }
}
.tcs__main__buttons > .button,
.page__main__buttons > .button {
  @media (min-width: 1100px) {
    width: 428px;
  }
}

.tcs__main__buttons-half,
.page__main__buttons-half {
  @media (min-width: 500px) {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
.tcs__main__buttons-half--together,
.page__main__buttons-half--together {
  @media (min-width: 500px) {
    width: 514px;
    display: flex;
    justify-content: space-around;
  }
}

.button-half--tcs {
  @media (min-width: 500px) {
    min-width: 165px;
    max-width: 200px;
  }
}
.button-half {
  @media (min-width: 500px) {
    min-width: 165px;
    max-width: 244px;
  }
}
