* {
  box-sizing: border-box; }

ul,
nav,
div,
body {
  padding: 0;
  margin: 0; }

body {
  background-color: #ecf3ff; }

.App {
  display: flex;
  flex-direction: column;
  align-items: center; }

.text-primary {
  color: #093a94; }

.font-primary {
  font-family: "Noto Sans", sans-serif; }

.nav {
  font-size: 21px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ecf3ff;
  min-width: 44px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav,
.pad {
  margin: 5px; }

.pad-s {
  margin: 2px; }

.nav.link:hover {
  color: #ffe574; }

.header-container {
  background-color: #093a94;
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  box-shadow: 0 2px 2px gray; }

.header-bounds {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-flow: wrap;
  width: 100%; }
  @media (min-width: 900px) {
    .header-bounds {
      max-width: 900px; } }

.header__logo {
  margin: 5px 5px 0 5px;
  align-self: center;
  padding-top: 4px; }

.book-logo {
  margin-right: 8px; }

.logo-text {
  vertical-align: text-bottom; }

#header__logo__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffd41a;
  font-size: 32px; }

.header__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 0; }

.header__main__primary-nav {
  display: flex;
  padding-left: 5px;
  justify-content: space-between; }
  @media (min-width: 688px) {
    .header__main__primary-nav {
      min-width: 570px;
      padding-left: 54px; } }

.header__main__primary-nav > div:only-child {
  margin-left: auto; }

.nav__account,
.nav__icons {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center; }

.nav-welcome-msg {
  margin-right: 28px;
  text-align: center; }

@media (min-width: 1100px) {
  .nav__icons {
    margin-right: -10px; } }

.nav__pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 5px;
  margin-bottom: 5px;
  list-style: none; }
  @media (min-width: 410px) {
    .nav__pages {
      min-width: 402px; } }
  @media (min-width: 688px) {
    .nav__pages {
      min-width: 445px;
      padding-left: 54px; } }

.link-wrapper {
  box-sizing: border-box;
  width: 100%; }
  @media (min-width: 1100px) {
    .link-wrapper {
      width: 428px; } }

.link-no-decoration {
  text-decoration: none;
  margin: 0;
  padding: 0; }

.book,
.user {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  font-family: "Noto Sans", sans-serif;
  color: #093a94;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 5px 16px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0.5px 0.5px 2px gray;
  transition: background-color 0.3s ease-in-out; }
  @media (min-width: 1100px) {
    .book,
    .user {
      max-width: 100%; } }

.book:hover,
.user:hover {
  background-color: #ffe574; }

.book__info,
.user__info {
  display: flex;
  flex-direction: column; }

.book {
  min-height: 112.5px; }

.book__requests {
  display: flex;
  flex-direction: start; }

.book__requests__info {
  display: flex;
  flex-direction: column; }

.book__requests__usernames__name {
  font-size: 0.5rem; }

.book__info__title {
  font-size: larger; }

.book-details {
  display: grid;
  grid-template-columns: min-content auto;
  grid-column-gap: 10px;
  margin-bottom: 16px;
  font-family: "Noto Sans", sans-serif;
  color: #093a94; }

.book-details__name {
  font-weight: bold; }

.book-details__value {
  font-weight: bold; }

form {
  display: flex;
  flex-direction: column;
  width: 100%; }

.input {
  width: 100%;
  height: 32px;
  margin: 4px 0; }

input[type="text"],
textarea[type="text"] {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif; }

label {
  margin: 4px 0; }

.error {
  color: red;
  font-family: "Noto Sans", sans-serif; }

h2.error__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 5px; }

.error__msg {
  font-size: 16px; }

.no-bull {
  list-style: none; }

.page-bounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%; }
  @media (min-width: 500px) {
    .page-bounds {
      max-width: 500px; } }
  @media (min-width: 1100px) {
    .page-bounds {
      max-width: 1000px; } }

.page-header {
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 16px;
  color: #093a94; }

.page-header > h1 {
  font-size: 48px;
  text-align: center;
  margin: 5px; }

.page-header > h2 {
  font-size: 30px;
  text-align: center;
  margin: 5px; }

.page-header.same-line {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap; }

.page-main {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.page-text__jumbo {
  font-size: 70px;
  color: #093a94;
  font-family: "Noto Sans", sans-serif; }

.page-text__large {
  font-size: 24px;
  color: #093a94;
  font-family: "Noto Sans", sans-serif; }

.page-text__normal {
  font-size: 16px;
  color: #093a94;
  font-family: "Noto Sans", sans-serif; }

.page-main--two-columns {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1100px) {
    .page-main--two-columns {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap; } }

.page-main--form {
  width: 100%; }
  @media (min-width: 1100px) {
    .page-main--form {
      width: 514px; } }

.page-main-border--top {
  border-top: 3px groove #4c80de;
  margin-top: 4px;
  padding-top: 10px; }

.width-100 {
  width: 100%; }

.wrapper__100 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.remove-item-btn {
  border: none;
  background: inherit;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 2px; }

.remove-item-btn_x {
  font-size: 44px;
  color: #9e2626; }

.remove-item-btn:hover > .remove-item-btn_x {
  color: red; }

.book-wrapper-for-remove {
  position: relative; }

.book__requests__empty-space {
  width: 44px; }

.tcs-container {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%; }

.tcs__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #093a94;
  font-weight: bold;
  margin-bottom: 4px; }

.tcs__header__img {
  font-size: 36px;
  margin-right: 4px; }

.tcs__header__txt {
  color: #093a94;
  font-family: "Noto Sans", sans-serif; }

.tcs__main {
  background-color: #4c80de;
  min-height: 86.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px gray; }

.tcs__main--right {
  margin-left: 40px; }

.tcs__main--center {
  margin-left: 20px;
  margin-right: 20px; }

.tcs__main__content {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1100px) {
    .tcs__main__content {
      flex-direction: row;
      justify-content: space-between; } }

@media (min-width: 1100px) {
  .tcs__main__content > div {
    width: 100%; } }

.tcs__main__messages {
  font-family: "Noto Sans", sans-serif;
  color: #ecf3ff;
  text-align: center; }

.tcs-text {
  font-family: "Noto Sans", sans-serif;
  color: #ecf3ff;
  text-align: center;
  font-weight: bold; }

h4.tcs-text {
  font-family: "Noto Sans", sans-serif;
  color: #ecf3ff;
  text-align: center;
  font-weight: bold;
  font-size: 19px; }

.tcs-border--top {
  border-top: 3px groove #ecf3ff;
  margin-top: 4px;
  padding-top: 10px; }

.button {
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  padding: 12px 12px;
  text-align: center;
  background-image: linear-gradient(to top, #093a94, #2966d7);
  color: #ecf3ff;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0; }
  @media (min-width: 1100px) {
    .button {
      width: 428px; } }

.button:hover {
  background-image: linear-gradient(to top, #093a94, #0d52d0); }

@media (min-width: 1100px) {
  .tcs__main__buttons,
  .page__main__buttons {
    display: flex;
    justify-content: space-around; } }

@media (min-width: 1100px) {
  .tcs__main__buttons > .button,
  .page__main__buttons > .button {
    width: 428px; } }

@media (min-width: 500px) {
  .tcs__main__buttons-half,
  .page__main__buttons-half {
    width: 100%;
    display: flex;
    justify-content: space-around; } }

@media (min-width: 500px) {
  .tcs__main__buttons-half--together,
  .page__main__buttons-half--together {
    width: 514px;
    display: flex;
    justify-content: space-around; } }

@media (min-width: 500px) {
  .button-half--tcs {
    min-width: 165px;
    max-width: 200px; } }

@media (min-width: 500px) {
  .button-half {
    min-width: 165px;
    max-width: 234px; } }

.warning-background {
  background-image: linear-gradient(to top, #851e1e, #a84646); }

.warning-background:hover {
  background-image: linear-gradient(to top, #6e1313, #a12e2e); }
